:root {}
body{
  margin: 0 auto;
}
main{
  min-height: calc(100vh - 2.75rem);
  background-image: url('/blåvitt.png'); 
  background-size: cover;
  background-repeat: no-repeat;

}
.overlay{
  border-image: fill 1 linear-gradient(hsl(0 100% 50% / .5),hsl(39 100% 50% / .5),hsl(60 100% 50% / .5),hsl(120 100% 25% / .5),hsl(240 100% 50% / .5),hsl(275 100% 25% / .5),hsl(300 76% 72% / .3));/*ROYGBIV*/
  border-image: fill 1 linear-gradient(hsl(0 100% 50% / .3), hsl(240 100% 50% / .3));
}
.projectsWrapper {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  gap: 1rem;
}
.contactForm{
  display: flex;
    flex-direction: column;
    padding: 8rem 5rem;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}
.formFields{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.submitbtn{
  background: black;
  color: white;
  border-radius: 22px;
  padding: .725rem 2rem;
}
.submitbtn:disabled{
  opacity: 1;
}
.msgBox{
  padding: 2.5rem;
}
.msgBox > h1{
  color: whitesmoke;
  font-size: 1.1em;
  font-weight: 600;
}