.wrapper{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    color: white;
}
.wrapper > h1{
    font-size: 3em;
    margin-top: 5rem;
    text-decoration: underline;
}
.wrapper > p{
    font-size: 1.1em;
}
.container{
    padding: 0 4rem;
}